@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div class="widget">
                <div class="left-buttons">
                    <div class="dropdn-btn">
                        <a href="index.html">Home</a>
                    </div>
                    <div class="dropdn-btn">
                        <a href="sign-in.html">Index</a>
                    </div>
                </div>
                <div class="search-container">
                    <div class="search-bar">
                        <input type="text" placeholder="Search..." />
                    </div>
                </div>
                <div class="right-buttons">
                    <div class="dropdn-btn">
                        <a href="#">Apps</a>
                    </div>
                    <div class="dropdn-btn">
                        <a href="#">Account</a>
                    </div>
                </div>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
